body{
	background-color: #232323;
	margin:0;
	font-family:"";
}

 .square {
 	 width: 30%;
 	 background: purple;
 	 padding-bottom: 30%;
 	 float: left;
 	 margin: 1.66%;
 	 background:background 0.6s;
 	 border-radius:15% ;
 	}

#container {
	margin: 20px auto;
	max-width:600px;
}
#colorDisplay{
	font-size:200%;
}
#message{
	display:inline-block;
	width:20%;
}

h1{
	color:white;
	line-height: 1.1;
	text-align: center;
	background:blue;
	margin:0;
	font-weight:normal;
	text-transform: uppercase;
	padding:20px 0;
}
button{
	border:none;
	background:none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}

button:hover{
	color:white;
	background:steelblue;
}
#stripe{
	background:white;
	height:30px;
	text-align:center;
}

.selected{
	color:white;
	background:steelblue;
}